{% extends "base.html" %}

{% block title %}
SketchFab Detail creator {{ creator.user.username }}
{% endblock %}

{% block content %}
 {{ creator.user.username }}
 <ul>
   {% for m in creator.models.all %}
   <li> <a href="{% url "badges:detail_model" m.pk %}"> {{ m.name }}</a></li>
   {% endfor %}
 </ul>

<ul>
  {% for b in creator.badges.all %}
  <li>
    {{ b.name }} | {{ b.description }}
    {% if b.name == 'Star Model' %}
    ( for the model <i>{{ b.content_object.name }}</i>)
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
