{% extends "base.html" %}

{% block title %}
SketchFab Detail model {{ model3d.name}}
{% endblock %}

{% block content %}
{{ model3d.name }} created by <a href="{% url "badges:users_model" model3d.creator.pk %}">{{ model3d.creator.user }}</a><br>
number of views : {{ model3d.number_of_views }}
<p style="font-style: italic">
  {{ model3d.description }}
</p>

badges:
<p>
  <ul>
    {% for b in model3d.badges.all %}
    <li> {{ b.name }} | <i> {{ b.description }}</i></li>
    {% endfor %}
  </ul>
</p>
{% endblock %}
