<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <!-- styles -->
    {% block styles %}
    {% endblock %}

    <!-- scripts -->
    {% block scripts %}
    {% endblock %}

    <link>
    {% block style %}
    {% endblock %}
  </head>
  <body>
    <div id="content">
      {% if user.is_authenticated %}
      log as {{ user }} <a href={% url "badges:logout" %}>logout </a> <br>
      {% else %}
      <a href={% url "badges:login" %}> log in </a> or <a href="{% url "badges:user_create" %}"> sign in </a><br>
      {% endif %}
      <hr>
      {% block content %}
      {% endblock %}
      <a href={% url "index" %}>index </a><br>
    </div>
  </body>
</html>
